<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
  <mat-card fxFlex="100%"  @slideInOut>
     <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="center center">
           <div fxLayout="column">
              <h4>{{'Add New Training Course'|translate}}</h4>
           </div>
           <span fxFlex></span>
        </div>
        <mat-divider></mat-divider>
     </div>
     <div class="gene-card-content">
              <form [formGroup]="AddCourseForm" (ngSubmit)="onSubmit(AddCourseForm)">
                 <div fxLayout="column">

                    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <!--Training Name-->
                       <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                          <mat-form-field class="full-wid mrgn-b-lg ">
                              <input matInput
                              formControlName="courseName"
                               placeholder="{{'Training Name'|translate}}" type="text" required>
                          </mat-form-field>
                       </div>
                    </div>

               <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                     <!--Start Date-->
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                       <mat-form-field class="full-wid mrgn-b-lg ">
                         <mat-label>{{'Start Date' | translate}}</mat-label>
                         <input matInput [matDatepicker]="picker" formControlName="startDate">
                         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                         <mat-datepicker #picker></mat-datepicker>
                       </mat-form-field>
                     </div>


                      <!--End Date-->
                      <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                       <mat-form-field class="full-wid mrgn-b-lg ">
                         <mat-label>{{'End Date' | translate}}</mat-label>
                         <input matInput [matDatepicker]="picker2" formControlName="endDate">
                         <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                         <mat-datepicker #picker2></mat-datepicker>
                       </mat-form-field>
                     </div>
               </div>



               <div fxLayout="row wrap" fxLayoutAlign="space-between center">

              <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49" fxLayoutAlign="end">
                <button mat-raised-button color="accent" type="submit" >{{'Add' | translate}}</button>
              </div>
               </div>
             </div>
           </form>

     </div>
  </mat-card>
</div>
