<div class="table-responsive">
  <mat-card @slideInOut>
    <mat-card-content class=" table-responsive">
     <table class="table table-hover table-middle mb-0 table-bordered">
       <thead  class="thead-dark">
          <tr>
             <th>{{'Student Name' | translate}}</th>
             <th>{{'Scucess State'|translate}}</th>
             <th>{{'Resarches'|translate}}</th>
             <th>{{'Controls' |translate}}</th>
          </tr>
       </thead>
       <tbody>
          <tr *ngFor="let item of Students">
             <td>{{item.studentName}}</td>
             <td></td>
             <td></td>
             <td></td>
          </tr>
       </tbody>
    </table>
    </mat-card-content>
  </mat-card>

 </div>


