<div class="table-responsive" @slideInOut>
  <mat-card>
    <div class="gene-card-title">
      <div fxLayout="row" fxLayoutAlign="center center">
         <div fxLayout="column">
    <h4>
      {{'Military Courses' | translate}}
  </h4>
  </div>
  </div>
  </div>

    <mat-card-content class=" table-responsive">
     <table class="table table-hover table-middle mb-0 table-bordered">
       <thead  class="thead-dark" >
          <tr>
             <th>{{'Course Name' | translate}}</th>
             <th  colspan="1">{{'Start Date' | translate}}</th>
             <th  colspan="1">{{'End Date' |translate}}</th>
             <th>{{'Active State'|translate}}</th>
             <th>{{'Controls' |translate}}</th>
          </tr>
       </thead>
       <tbody>
          <tr *ngFor="let item of Courses">
             <td>{{item.courseName}}</td>
             <td colspan="1">{{item.startDate | date : 'dd-MM-yyyy'}}</td>
             <td>{{item.endDate | date  : 'dd-MM-yyyy'}}</td>
             <td>

                <span *ngIf="item.isActive" class="active">{{'Activated' | translate}}</span>
                <span  *ngIf="!item.isActive" class="deactive">{{'Dectivated' | translate}}</span>

             </td>
            <td  colspan="1" style="justify-content: center; text-align: center;">
              <mat-icon class="edit" matTooltip="{{'Show Course Students' | translate}}" (click)="openShowStudent(item.id)">person_pin</mat-icon>
              <mat-icon matTooltip="{{'عرض محاضرات الدورة' | translate}}" class="edit" (click)="openUploadLecture(item.id)">developer_board</mat-icon>
              <mat-icon class="edit" matTooltip="{{'Edit Course' | translate}}" (click)="EditCourse(item.id)">edit</mat-icon>
              <mat-icon matTooltip="{{'Delete Course' | translate}}" class="edit" (click)="DeleteCourse(item.id)">delete</mat-icon>
            </td>
          </tr>
       </tbody>
    </table>
    </mat-card-content>
  </mat-card>

 </div>


