<div class="container" dir="rtl">
  <h1 mat-dialog-title style="font-weight: bold;">{{'Course Trainees' | translate}}</h1>
<div>
  <div class="table-responsive">

      <mat-card-content class=" table-responsive">
       <table class="table table-hover table-middle mb-0 table-bordered">
         <thead  class="thead-dark">
            <tr>
               <th>{{'Trainee Name' | translate}}</th>
               <th>{{'Start Date' | translate}}</th>
               <th>{{'End Date' | translate}}</th>

             </tr>
         </thead>
         <tbody>
            <tr *ngFor="let item of allCourseTrainee">
               <td>{{item.traineeName}}</td>
               <td>{{item.startDate | date : 'dd-MM-yyyy'}}</td>
                <td>{{item.endDate | date  : 'dd-MM-yyyy'}}</td>
              </tr>
         </tbody>
      </table>
      </mat-card-content>


   </div>

   <div mat-dialog-actions style="text-align: center; justify-content: center;">
     <button mat-raised-button color="warn" [mat-dialog-close]="data.animal" cdkFocusInitial>{{'Close' | translate}}</button>
  </div>

</div>
