<div class="print">
   <button mat-raised-button color="primary" (click)="print()">طباعة</button>
</div>
<mat-card-header style="justify-content:center; text-align: center;">
  <mat-card-title style="font-weight: bold; padding-top:5%;">طلاب {{course.courseName}}</mat-card-title>
</mat-card-header>
<mat-card-content class=" table-responsive" style="padding: 5%;" id="Student">
 <table class="table table-hover table-middle mb-0 table-bordered">
   <thead  class="thead-dark" >
      <tr>
         <th>{{'Student Name' | translate}}</th>
         <th>{{'SSD' | translate}}</th>
         <th>{{'FacultyDesc' | translate}}</th>
         <th>{{'Grade' | translate}}</th>
         <th>{{'RegistedDate' | translate}}</th>
         <th>{{'Scucess State'|translate}}</th>
         <th>{{'Resarches'|translate}}</th>
       </tr>
   </thead>
   <tbody>
      <tr *ngFor="let item of Students">
         <td>{{item.studentName}}</td>
         <td>{{item.ssd}}</td>
         <td>{{item.faculty | translate}}</td>
         <td>{{item.grade | translate}}</td>
         <td>{{item.registedDate | date : 'yyyy-MM-dd'}}</td>
         <td>لم يتم التحديد</td>
         <td>لم يتم رفع البحث</td>
        </tr>
   </tbody>
</table>
</mat-card-content>
